.center-div{
	width: 250px;
	left: 0;
	right: 0;
	margin: auto;
}
.form-control{
	margin-top: 5px;
}
.pull-right{
	float: right;
}
.card{
	padding: 10px;
	box-shadow: #e0dfdf 0px 0px 1px 1px;
}
.center{
	left: 0;
	right: 0;
	margin:auto;
	margin-left: 50px;
}