body{
	background: #e7e7e7 !important;
}
.center-div{
	width: 250px;
	left: 0;
	right: 0;
	margin: auto;
	margin-top:100px;
}
.form-control{
	margin-top: 5px;
}
.pull-right{
	float: right;
}
.card{
	padding: 10px;
	box-shadow: #e0dfdf 0px 0px 1px 1px;
}
.center{
	left: 0;
	right: 0;
	margin:auto;
	margin-left: 50px;
}
.textarea{
	height: 300px !important;
}
.file_upload{
	width: 100px;
}
.heightFixed{
	height: 40px;
	overflow: hidden;
}
.btn-me{
	float: left;
}
.left-10{
	margin-left: 10px;
}
.col-md-12{
	background: #fff;
}